<h1>{{isEditing ? 'Edit ' + product.get('code')?.value : "Create New Product"}}</h1>

<form [formGroup]="product">
  <mat-form-field appearance="outline">
    <mat-label>Code</mat-label>
    <input matInput type="text" formControlName="code" [inputMask]="codeMask" required>
    <mat-hint *ngIf="!isEditing">Format: 2 to 4 Letters, 4 to 6 Digits</mat-hint>
    <mat-error *ngIf="product.get('code')?.hasError('code')">{{product.get('code')?.getError('code')}}</mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline" [class.margin-top]="!isEditing">
    <mat-label>Quantity</mat-label>
    <input matInput type="number" min="0" formControlName="quantity">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Floor</mat-label>
    <input matInput type="number" min="1" formControlName="floor">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Section</mat-label>
    <input matInput type="number" min="1" formControlName="section">
  </mat-form-field>

  <div class="actions">
    <button mat-flat-button (click)="close('cancel')">Cancel</button>
    <button *ngIf="isEditing" mat-stroked-button [disabled]="!product.valid || product.pristine" (click)="updateProduct()">Update</button>
    <button *ngIf="!isEditing" mat-stroked-button [disabled]="!product.valid || product.pristine" (click)="addProduct()">Create</button>
  </div>
</form>
