<aside>
  <button class="new-product" color="primary" mat-flat-button (click)="addEditProduct()">Create New Product</button>

  <form [formGroup]="filters">
    <section class="code-search">
      <header>Product Code</header>
      <div class="content">
        <mat-form-field class="search" appearance="outline">
          <input matInput type="text" formControlName="code">
          <mat-icon matPrefix>search</mat-icon>
        </mat-form-field>
      </div>
    </section>

    <section class="floors">
      <header>Floors</header>
      <mat-button-toggle-group name="floors" formControlName="floors" multiple vertical>
        <mat-button-toggle #toggle *ngFor="let floor of floors" [value]="floor">
          <span>Floor: {{floor}}</span>
          <mat-icon *ngIf="toggle.checked">cancel</mat-icon>
        </mat-button-toggle>
      </mat-button-toggle-group>
    </section>

    <section class="sections">
      <header>Sections</header>
      <mat-button-toggle-group name="sections" formControlName="sections" multiple vertical>
        <mat-button-toggle #toggle *ngFor="let section of sections" [value]="section">
          <span>Section: {{section}}</span>
          <mat-icon *ngIf="toggle.checked">cancel</mat-icon>
        </mat-button-toggle>
      </mat-button-toggle-group>
    </section>
    <button class="reset-filters" color="primary" mat-flat-button (click)="filters.reset()">Reset Filters</button>
  </form>
</aside>

<main>
  <span *ngIf="products.length > 0" class="total-products">{{ products.length }} products</span>
  <div *ngIf="products.length > 0; else noProducts" class="products">
    <mat-card class="product" *ngFor="let product of products">
      <mat-card-title>
        <span>{{ product.code }}</span>
        <button mat-icon-button (click)="addEditProduct(product)"><mat-icon>edit</mat-icon></button>
      </mat-card-title>
      <p>Quantity: {{ product.quantity }}</p>
      <p>Location: {{ product.floor }} / {{ product.section }}</p>
    </mat-card>
  </div>
  
  <!-- We would also use loaders here if we had real BE calls or delayed service response -->
  <ng-template #noProducts>
    <p class="no-products" *ngIf="products.length === 0">No Products Found.</p>
  </ng-template>
</main>
